body {
    margin-top: 0;
    margin-left: 20%;
    width: 60%;
}

section {
    width: 100%;
}

footer {
    float: left;
    background-color: rgb(197, 138, 66);
    font-size: 9px;
    line-height: 0.1;
    height: 60px;
    padding-left: 10px;
    width: 100%;
}

* {
    box-sizing: border-box;
}
.container {
    position: relative;
    line-height: 0.3;
    height: 150px;
}

.topnav {
    height: 60px;
    background-color: black;
    font-family: Arial;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 10px;
}

.topnav a {
    color:rgb(138, 132, 132);
    text-decoration: none;
    padding: 5px;
}

.icon { 
    margin-top: -9px;
}

.topnav .icon {
    display: none;
  }

.containerdva {
    position: relative;
    line-height: 0.3;
    height: 500px;
}

.text {
    position: absolute;
    color: white;
    top: 10px;
    left: 50px;
    font-size: 15px;
    line-height: 0.3;
}

.textbody {
    position: absolute;
    width: 100%;
    color: white;
    left: 30px;
    top: 1px;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
    text-align: justify;
    line-height: 1;
}

.textbodydva {
    width: 80%;
    color: white;
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: justify;
}

.navd {
    float: right;
    padding-top: 3px;
}

.left {float: left;
}

.right {float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    
.topnav a:hover {
    color: white;
}
.active {
    color: white;
    position: relative;
}

.glavnidva {
    float: left;
    width: 70%;
    text-align: justify;
    background-color:rgba(230, 235, 240, 0.849);
    font-size: 10px;
    height: 500px;
    padding-left: 30px;
}

.glavnidva_naslov {
    font-size: 25px;
}

.glavnidva_tekst {
    overflow-wrap: break-word;
    font-size: 20px;
    width: 80%;
}

.glavnitri {
    float: left;
    background-color:rgba(230, 235, 240, 0.849) ;
    width: 30%;
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
}

.glavnitrijedan {
    background-color: white;
    border-top: none;
    height: 280px;
    text-align: justify;
    font-size: 13px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.center {
    text-align: center;
    padding-top: 10px;
}
.glavnitrijedantext {
    padding-left: 15px;
    font-size: 15px;
}

.ikone {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.desk {
    display: inline; 
}

.facebook { 
    float: right; 
    color: rgb(45, 15, 180); 
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    .topnav {
        font-size: 20px;
        width: auto;
    }

    body {
        width: auto;
        margin: auto;
    }

}

@media screen and (max-width: 500px) {
    .topnav a:not(.active) {
      display: none;
    }

    .topnav a.icon {
        display:inline;
    }

    body {
        width: auto;
        margin: auto;
    }

    .topnav .icon {
        position: absolute;
        right:5px;
    }
}

@media screen and (max-width: 500px) {
    .topnav {
      position: relative;
      background-color: black;
      height: 50px;
      display: flex;
      font-size: 15px;
    }

    .topnav .active {
        padding-top: 3px;
    }

    .topnav.responsive a {
      display:inline;     
      background-color: black;
    }

    header .container {
       height:100px
    }

    footer .center  {
       padding-top: 0px;
    }

    article .glavnidva {
       width: 100%;
    }

    aside .glavnitri {
       width: 100%;
    }
}

