
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: justify;
    margin: 0;
    background-color: #FAF0D7;
    font-size: 12px;
    line-height: 14px;
}

header {
    height: 60px;
    text-align: center;
    padding-top: 9px;
    border: 1px solid red;
}

.logo {
    width: 40px;
    height: 40px;  
    margin-left: 40px;
}

nav {
    display:inline;
}

.navbar-links {
    position: absolute;
    display: none;
    top:38px;
    width: auto;
    right: 0px;
    list-style-type: none;
    z-index: 1;
}

.navbar-links .nav-item {  
    display: block;
    height: 30px;
    background-color: #CCEEBC;
    text-align: justify;
    /* OVO ISPOD MOZE I U JEDNOJ LINIJI */   /* RAZUMEM SEFE */
    padding:5px 5px 0px 5px;
}

.navbar-links .nav-item .nav-link { 
    text-decoration: none;
    color: #00337C;
    line-height: 16px;
    font-size: 14px;
    margin:0px;
}

.navbar-links li:hover { 
    background-color: #FFF;    
}

.humburger-bars {
    float: right;
    margin-right: 5px;
    list-style: none;
    padding-top: 5px;
    cursor: pointer;
}

.humburger-bars span {
    width: 20px;
    height: 6px;
    border-bottom: 4px solid black;
    border-radius: 2px;
    cursor: pointer;
    display: block;
}

.container {
    position: relative;
    width: 100%; /* container klasa ne treba da ima width:auto, ona ne sme da se siri koliki joj je kontent vec treba da ogranicava kontent na svoju sirinu */
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid blue;
    padding-left: 0px;
    padding-right: 0px;
}

.hero-heading {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    line-height: 28px;
}

section {
    padding-left: 5px;
    padding-right: 5px;
}

.leading-section {
    padding-top: 5px;
    background-image: linear-gradient(to bottom right,  rgb(118, 105, 240), rgb(243, 84, 84));
}

.h2-heading {
    font-size: 20px;
    line-height: 24px;
    padding: 5px;
    text-align: center;
}

p {
    font-size: 12px;
    line-height: 14px;
    color: #606060;
}

.lead {
    font-size: 14px;
    line-height: 16px;
    color: #303030;
    font-style: italic;
}

.gallery {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    
}

.gallery img {  
    max-width: 50%;
    margin: 0;

}

.buttons {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    opacity: 0.5 ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.styles {
    font-style: italic;
    color:blue;
    text-decoration: line-through;
    text-decoration-color: red;
    font-weight: bold;
}
.shadow {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.thickness {
    text-decoration-line: underline;
    text-decoration-color: rgb(27, 209, 133);  
    text-decoration-thickness: 6px;  
}

.cards {
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.cards img {
    border-radius: 10px;
    max-width: 20%;
}



