
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: justify;
    margin: 0;
    background-color: #FAF0D7;
    font-size: 12px;
    line-height: 14px;
}

header {
    height: 60px;
    text-align: center;
    padding-top: 9px;
    border: 1px solid red;
}

.logo {
    width: 40px;
    height: 40px;  
    margin-left: 40px;
}

nav {
    display:inline;
}

.navbar-links {
    position: absolute;
    display: none;
    top:38px;
    width: auto;
    right: 0px;
    list-style-type: none;
    z-index: 1;
}

.navbar-links .nav-item {  
    display: block;
    height: 30px;
    background-color: #CCEEBC;
    text-align: justify;
    /* OVO ISPOD MOZE I U JEDNOJ LINIJI */
    padding-left:5px;
    padding-right:5px;
    padding-top: 5px;
}

.navbar-links .nav-item .nav-link { 
    text-decoration: none;
    color: #00337C;
    line-height: 16px;
    font-size: 14px;
    margin:0px;
}

.navbar-links li:hover { 
    background-color: #FFF;    
}

.humburger-bars {
    float: right;
    margin-right: 5px;
    list-style: none;
    padding-top: 5px;
    cursor: pointer;
}

.humburger-bars span {
    width: 20px;
    height: 6px;
    border-bottom: 4px solid black;
    border-radius: 2px;
    cursor: pointer;
    display: block;
}

.container {
    position: relative;
    width: 100%; /* container klasa ne treba da ima width:auto, ona ne sme da se siri koliki joj je kontent vec treba da ogranicava kontent na svoju sirinu */
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid blue;
}

.hero-heading {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    line-height: 28px;
}