 /*           TABELA
        sa  slikama i brojevima    */ 

        .paint {
            animation-name: rotation-th;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        
        @keyframes rotation-th {
            from {transform: rotateX(0deg);}
            to {transform: rotateX(360deg)}
        }
        
        .paint-th {
            animation-name: rotation-th;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        
        @keyframes rotation-th{
            from {transform: rotateX(0deg);}
            to {transform: rotateX(360deg)}
        }
        
        .center {
        
            border-collapse: collapse;
        
            tr:nth-child(odd) {
                background-image: linear-gradient(to bottom right,  rgb(118, 105, 240), rgb(243, 84, 84))
            }
        
            tr:nth-child(even) {
                margin: 0;
                animation: opacity-background 3s infinite linear;
            }
        }
        
        @keyframes opacity-background {
            0% {
                background-color: rgb(13, 207, 126);
                opacity: 0.5;
              }
        
            50% {
                background-color: rgb(134, 14, 233);
                opacity: 1;
              }
        
            100% {
                background-color: rgb(13, 207, 126);
                opacity: 0.5;
              }
        }
        
        th {
            border: 1px solid $blackColor;
            text-align: center;
            background-color: chartreuse;
        }
        
        td { 
            border: 1px solid $blackColor;
            text-align: center;
            padding: 3px;
        }
        
        .th-no-center {
            text-align: center;
        }