
@import "config";
@import "header";
@import "table_style-animations";
@import "footer";
@import "responsive";

/* Problaj da razdelis ovaj scss na sitnije komponente, tipa _header.scss, _footer.scss, _tables.scss (stilovi za tabele) */

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: justify;
    margin: 0;
    background-color: $bodyColor;
    font-size: 12px;
    line-height: 14px;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%; /* container klasa ne treba da ima width:auto, ona ne sme da se siri koliki joj je kontent vec treba da ogranicava kontent na svoju sirinu */
}

.hero {
    &-section {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: 1px solid $blueColor;
        padding-left: 0px;
        padding-right: 0px;
    }

    &-heading {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #fff;
        line-height: 28px;
    }
}

section {
    padding-left: 5px;
    padding-right: 5px;
}

.leading-section {
    padding-top: 5px;
    background-image: linear-gradient(to bottom right,  rgb(118, 105, 240), rgb(243, 84, 84));
}

.h2-heading {
    font-size: 20px;
    line-height: 24px;
    padding: 5px;
    text-align: center;
}

p { /* p tag po defaultu ima margin bottom, setovati taj margin na 0 i videti malo stilski sta bi trebalo popraviti kako bi izgled strane izgledao bolji */
    font-size: 12px;
    line-height: 14px;
    color: #606060;
    margin-bottom: 0;
}

.lead {
    font-size: 14px;
    line-height: 16px;
    color: #303030;
    font-style: italic;
    padding-bottom: 5px;
}

.gallery {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;

    img {  
        max-width: 50%;
        margin: 0;
        padding: 2px;
    }
}

.buttons {
    border-bottom: 1px solid $blackColor;
    border-top: 1px solid $blackColor;
    opacity: 0.5 ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.success {
    background-color: rgb(130, 185, 98); 
    border-color: rgb(5, 92, 5);
}

.success:hover {
    border-color: rgb(130, 185, 98); 
    background-color: rgb(5, 92, 5);
}

.error {
    background-color: rgb(207, 58, 58); 
    border-color: rgb(194, 6, 6);
}

.error:hover {
    border-color: rgb(207, 58, 58); 
    background-color: rgb(194, 6, 6);
}

.colouring {
    font-style: italic;
    color:rgb(61, 126, 201);
    text-decoration: line-through;
    text-decoration-color: $redColor;
    font-weight: bold;
}

.shadow {
    color: white;
    text-shadow: 1px 1px 2px $blackColor, 0 0 10px $blueColor, 0 0 1px darkblue;
}

.thickness {
    text-decoration-line: underline;
    text-decoration-color: rgb(27, 209, 133);  
    text-decoration-thickness: 3px;
}

.cards {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 25px 0px 15px 0px;
    margin-bottom: 10px;

    img {
        border-radius: 10px; 
        max-width: 15%;
    }
}

.card {

    &_1 { 
        border: 1px solid $yellowColor;
        position: relative; 
        left: 36%;
        transform: rotate(-35deg);
        translate: 0px 8px;
    }

    &_2 {
        border: 1px solid $redColor;
        position: absolute; 
        left: 39%;
        transform: rotate(-15deg);
    }

    &_3 {
        border: 1px solid $blueColor;
        position: absolute; 
        left: 46%;
        transform: rotate(15deg);
    }

    &_4 {
        border: 1px solid greenyellow;
        translate: 0px 8px;
        position: absolute; 
        left: 49%;
        transform: rotate(35deg);
    }
}

.center-section {
    padding: 5px 5px;
    width: 100%;
}

.text-puls {
    margin: 0;
    animation: opacity-text 2s infinite linear;
}

@keyframes opacity-text {
    0% {
        color: $redColor;
        opacity: 0.5;
      }

    50% {
        color: $greenColor;
        opacity: 1;
      }

    100% {
        color: $redColor;
        opacity: 0.5;
      }
}

/*              Red brojeva
         sa  uvlacenjem udesno   */ 

.list {
    transform: translate(50%, 0%);
    padding: 0;
    margin-top:0;
    margin-bottom: 10px;


    li:nth-child(1n)::marker {
        color: rgba(233, 158, 20, 0.945);
    }

    li:nth-child(2n)::marker {
        color: rgb(88, 86, 211);
    }

    li:hover {
        transform:translateX(10px);
    }
}

.rotation {
    animation-name: rotation-text;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
}

@keyframes rotation-text {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg)}
  }

.rounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.list-infrastructure {
    list-style-type: "\1F44D";
    background: #3399ff;
    padding-left: 15px;

    li {
        background: #cce5ff;
   }   
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    background-color: $whiteColor;
    background-repeat: no-repeat;
    padding: 2px 10px;
    margin-bottom: 10px;
    transition: width 2s ease-in-out;
}
  
input[type=text]:focus {
    width: 100%;
}

.btn-input-text { 
    width: 100%;
    background-color: #7db0e4;
    border-radius: 5px;
    color: #303030;
    text-align: center;
}

select {
    width: 100%;
    appearance: none;
    background-color: #faf7f7;
    border: 1px solid rgb(134, 129, 129);
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 12px 0;
    cursor: pointer;
} 

.area-comment {
   width: 100%;
   margin:0
}

textarea {
    outline: none;
    border-radius: 5px;
}

textarea:focus {
    outline: none;
    background-color:rgb(236, 227, 101)
}

.btn {
    width: 100%;
    color: $blackColor;
    background-color:#8fbbe7;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}